/* ==========主题变量区，修改 --base-h 切换主题========== */
:root {

 /* 背景色 */
  --bg-base: #121212;
  --bg-panel: #1a1a1a;
  --bg-card: #222222;
  --bg-hover: #2a2a2a;

 /* 边框 */
  --border-dark: #2a2a2a;
  --border-normal: #3a3a3a;
  --border-light: #4a4a4a;

  /* 文字颜色 */
  --text-white: #ffffff;
  --text-main: #eeeeee;
  --text-mono: #cccccc;
  --text-sub: #aaaaaa;
  --text-dim: #777777;

  
  /* 按钮 */
  --btn-bg: #272727;
  --btn-bg-hover: #383838;
  --btn-border: #383838;
  --btn-active-bg: #4a4a4a;
  --btn-active-border: #4a4a4a;

  /* 基础色相 */
  --base-h: 200;
  /* 主题派生色 */
  --theme-primary: hsla( var(--base-h), 25%, 50%, 0.9 );
  --theme-highlight: hsla( var(--base-h), 60%, 50%, 0.95 );
  --theme-primary-transparent: hsla(var(--base-h), 35%, 50%, 0.22);
  --theme-bg: hsla(var(--base-h), 30%, 12%, 0.85);
  --theme-bg-btn: hsla(var(--base-h), 35%, 20%, 0.6);
  --theme-bg-btn-hover: hsla(var(--base-h), 40%, 28%, 0.7);
  --theme-bg-btn-active: hsla(var(--base-h), 45%, 30%, 0.8);

  /* 字体大小 */
  --font-xs: 12px;
  --font-sm: 13px;
  --font-md: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-xxl: 22px;

  /* 间距 */
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;

  /* 圆角 */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;

  /* 尺寸 */
  --player-bar-height: 124px;
  --btn-player-size: 36px;
  --meta-bar-height: 100px;
}

/* ==========全局基础重置 ========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-base);
  color: var(--text-main);
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

button {
  background: var(--btn-bg);
  color: var(--text-main);
  border: 1px solid var(--btn-border);
  padding: var(--spacing-md) var(--spacing-xl);
  border-radius: var(--radius-sm);
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--btn-bg-hover);
}
button:focus {
  outline: none;
}
button.active {
  background: var(--btn-active-bg);
  border-color: var(--btn-active-border);
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
button i {
  pointer-events: none;
}

input {
  background: var(--bg-hover);
  color: var(--text-main);
  padding: var(--spacing-md) var(--spacing-sm);
  border-radius: var(--radius-sm);
  border: 1px solid var(--border-normal);
  width: 100%;
  margin-bottom: var(--spacing-lg);
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid var(--border-light);
}

h4 {
  margin: var(--spacing-sm) 0;
}

/* ==========顶部标题栏 top-bar ========== */
.top-bar {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl);
  background: var(--bg-panel);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid var(--border-dark);
}
.bar-left .app-title {
  margin: 0;
  font-size: var(--font-xxl);
  color: var(--theme-highlight);
  font-weight: 600;
  letter-spacing: 1px;
}
.bar-right {
  display: flex;
  gap: var(--spacing-md);
}

.bar-right button i {
  font-size: var(--font-md);
}

/* ==========主面板 ========== */
.view-container {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  width: min(100%, 1200px);
  display: flex;        
  flex-direction: column; 
  margin: 0 auto;
}

/* ==========播放详情视图 歌词模块 ========== */
.tab-view {
  padding: var(--spacing-xl);
  background: transparent;
  flex: 1;
  min-height: 0;      
  display: flex;
  flex-direction: column;
  overflow: hidden;  
}

.playback-view {
  position: relative;
}

.lyric-scroll-toggle-btn {
  background-color: transparent;
  border: none;
  color: var(--theme-highlight);
  position: absolute;
  top: calc(var(--meta-bar-height) + 20px);
  right: 20px;
  z-index: 50;
  width: 48px;
  height: 48px;
  font-size: var(--font-xxl);
}

.lyric-meta {
  flex-shrink: 0;
  margin-bottom: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  border-bottom: 1px solid var(--border-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  height: var(--meta-bar-height);
}
.lyric-meta-title {
  font-size: var(--font-xl);
  font-weight: bold;
}
.lyric-meta-artist {
  font-size: var(--font-md);
}
.lyric-meta-extra {
  font-size: var(--font-xs);
  color: var(--text-dim);
  display: flex;
  gap: var(--spacing-lg);
  flex-wrap: wrap;
}

.lyric-scroll-wrap {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  scrollbar-width: none;
}
.lyric-scroll-wrap::-webkit-scrollbar {
  display: none;
}
.lyric-wrap {
  line-height: 1.6;
}
.lyric-line {
  padding: var(--spacing-xs) 0;
  color: var(--text-sub);
  text-align: center;
  transition: all 0.2s;
}
.lyric-active {
  color: var(--theme-highlight);
  font-style: italic;
}
.lyric-placeholder {
  text-align: center;
  color: var(--text-dim);
}

/* ==========播放列表视图 ========== */
.playlist-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-dark);
  padding-bottom: var(--spacing-lg);
}
.playlist-header-buttons{
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-sm)
}
.playlist-header-buttons button i{
  font-size: var(--font-xs)
}
.playlist-track-wrap {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  scrollbar-width: none;
}
.playlist-track-wrap::-webkit-scrollbar {
  display: none;
}
.playlist-item {
  padding: var(--spacing-md) var(--spacing-sm);
  border-bottom: 1px solid var(--border-dark);
}
.playlist-item.active {
  background-color: var(--theme-primary-transparent);
  border-left: 4px solid var(--theme-highlight);
}
.playlist-item-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}
.playlist-item-title {
  font-size: var(--font-md);
  font-weight: bold;
}
.playlist-item-btn {
  padding: var(--spacing-sm);
  font-size: var(--font-lg);
  background: transparent;
  border: none;
}
.playlist-item-row2 {
  display: flex;
  gap: var(--spacing-xl);
  font-size: var(--font-sm);
  color: var(--text-sub);
}
.playlist-empty-tip {
  color: var(--text-sub);
}

/* ==========音乐库视图 ========== */
.library-header {
  flex-shrink: 0;
  padding-bottom: var(--spacing-lg);
  border-bottom: 1px solid var(--border-dark);
  margin-bottom: var(--spacing-lg);
}
.group-tabs-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-lg);
}
.group-tabs{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--spacing-md);
}
.filter-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--spacing-md);
  font-size: var(--font-sm);
  color: var(--text-sub);
}

.library-content-wrap {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  scrollbar-width: none;
}
.library-content-wrap::-webkit-scrollbar {
  display: none;
}
.group-card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-xl);
}
.group-card {
  background: var(--bg-card);
  border: 1px solid var(--border-light);
  border-radius: var(--radius-lg);
  padding: var(--spacing-xl) var(--spacing-lg);
  cursor: pointer;
  transition: background 0.2s;
}
.group-card:hover {
  background: var(--bg-hover);
  border-color: var(--border-normal);
}
.group-card-name {
  font-size: var(--font-md);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.group-card-count {
  margin-top: var(--spacing-sm);
  font-size: var(--font-xs);
  color: var(--text-sub);
}

.library-item {
  padding: var(--spacing-md) var(--spacing-sm);
  border-bottom: 1px solid var(--border-dark);
}

.library-item-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}
.library-item-title {
  font-size: var(--font-md);
  font-weight: bold;
}
.library-item-btn {
  padding: var(--spacing-sm);
  font-size: var(--font-lg);
  background: transparent;
  border: none;
}
.library-item-row2 {
  display: flex;
  gap: var(--spacing-xl);
  font-size: var(--font-sm);
  color: var(--text-sub);
}
.library-empty-tip {
  color: var(--text-sub);
}

/* ==========设置view ========== */
.setup-item-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: var(--spacing-xl);
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-lg);
  border-bottom: 1px solid var(--border-light);

}
.setup-title {
  font-size: var(--font-xl);
}

.setup-body {
  display: flex;
  padding-left: 24px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.setup-folder-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.setup-folder-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--radius-md);
}
.setup-folder-path {
  font-family: monospace;
  color: var(--text-mono);
  word-break: break-all;
}

.system-btn-row {
  display: flex;
  justify-content: center;
  gap: var(--font-xl);
}

.system-btn-row button {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 38px;
  gap: var(--spacing-sm);
  color:var(--text-sub);
}

.system-btn-reboot i{
  color: green;
}

.system-btn-shutdown i{
  color: red;
}

/* ==========底部常驻播放器 player ========== */

.player {
  height: var(--player-bar-height);
  width: 100%;
  background: var(--theme-bg);
  border-top: 1px solid var(--theme-bg-btn-hover);
  padding: var(--spacing-lg) var(--spacing-xl);
  z-index: 998;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--spacing-lg);
}

/* 封面 */
.player-cover-wrap {
  padding: 0px;
}
.player-cover {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-md);
  object-fit: cover;
  cursor: pointer;
}

/* 播放器主区域 */
.player-main {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing-sm);
}
.player-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--spacing-sm);
}
.player-info-title {
  font-size: var(--font-xl);
  font-weight: bold;
}
.player-info-artist {
  font-size: var(--font-sm);
  color: var(--text-sub);
}
/* 进度条 */
.player-progress-wrap {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-sm);
}
.player-progress-bar-outer {
  flex: auto;
  position: relative;
  height: 26px;
  display: flex;
  align-items: center;
}
.player-progress-bar {
  width: 100%;
  height: 8px;
  background: var(--border-normal);
  border-radius: var(--radius-sm);
  cursor: pointer;
}
.player-progress-fill {
  width: 0%;
  height: 100%;
  background: var(--theme-primary);
  border-radius: 3px;
}
.player-progress-dot {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--theme-highlight);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 2;
}
.player-progress-bar-outer:hover .player-progress-dot {
  transform: translate(-50%, -50%) scale(1.2);
}
.player-time {
  font-size: var(--font-xs);
  color: var(--text-sub);
  margin-top: var(--spacing-xs);
}

/* 播放控制按钮 */
.player-controls {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-sm);
  align-items: center;
}
.player-btn {
  background-color: var(--theme-bg-btn);
  width: var(--btn-player-size);
  height: var(--btn-player-size);
  font-size: var(--font-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.player-btn:hover{
  background-color: var(--theme-bg-btn-hover);
}

.player-btn.active{
  background-color: var(--theme-bg-btn-active);
}


/* ==========封面大图弹窗 ========== */
.cover-popup-mask {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.cover-popup-inner {
  max-width: 85vw;
  max-height: 85vh;
}
.cover-popup-img {
  max-width: 100%;
  max-height: 85vh;
  border-radius: var(--radius-lg);
  object-fit: contain;
}

/* ==========Toast全局提示 ========== */
.toast-notice {
  position: fixed;
  top: var(--spacing-lg);
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-hover);
  color: var(--text-main);
  padding: var(--spacing-md);
  border-radius: var(--radius-sm);
  font-size: var(--font-md);
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
  min-width: 200px;
  text-align: center;
}

/* ==========Loading全局遮罩 ========== */
.global-loading-mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  text-align: center;
  color: var(--theme-highlight);
}

/* ==========下拉菜单组件 ========== */
.dropdown-wrap {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
  background: var(--bg-card);
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-sm);
  min-width: 120px;
}
.dropdown-item {
  padding: var(--spacing-sm) var(--spacing-sm);
  font-size: var(--font-md);
  cursor: pointer;
}
.dropdown-item:hover {
  background: var(--btn-bg);
}
.dropdown-backdrop {
  position: fixed;
  inset: 0;
  z-index: 98;
}

/* =========响应式小屏========== */
@media (max-width: 960px) {
  /* 可在此添加小屏适配 */
}